CLIENT_SECRET=client_secret_value_here  # Replace with your actual client secret value
FIREBASE_CREDENTIALS_FILE=firebase-credentials.json  # create the file with your Firebase credentials and this name, place it in the same directory as this .env file
TELEGRAM_TOKEN=telegram_token_value_here  # Replace with your actual Telegram bot token value (created with @BotFather)